<?php

return [

    // yii
    'YII_ENV' => 'dev',
    'YII_DEBUG' => true,
    'YII_KEY' => '', // cookie validation key

    // enable debug module using this $_GET param (leave empty to disable)
    'DEBUG_PASSWORD' => '',

    // database
    'DB_DSN' => 'mysql:host=localhost;dbname=basic',
    'DB_USER' => '',
    'DB_PASS' => '',
    'DB_PREFIX' => '',

    // mail
    'MAIL_FILE_TRANSPORT' => true,
    'MAIL_ENCRYPTION' => 'tls',
    'MAIL_HOST' => 'smtp.mandrillapp.com',
    'MAIL_PORT' => '587',
    'MAIL_USER' => '',
    'MAIL_PASS' => '',
];