

html, body {
  background-color: black;
}


// ---------------------------------------------------------
// Menu button and stream containers
// ---------------------------------------------------------
#menu-button {
  position: absolute;
  top: 93px;
  left: 18px;
  width: 24px;
  height: 24px;
  z-index: 1000;
  opacity: 0.3;
  cursor: pointer;
}

#stream-container {
  position:fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#stream-iframe-div {
  width: 100%;
  height: 100%;
}

// ---------------------------------------------------------
// Generic overlay
// ---------------------------------------------------------
#overlay {
  display: none;
  position: absolute;
  top: 85px;
  left: 10px;
  width: 375px;
  height: 80%;
  z-index: 500;
  opacity: 0.85;
  padding: 10px;
  color: yellow;
  background-color: rgba(51,51,51,.65);
  font-family: Arial, Helvetica, sans-serif;
}
#overlay input {
  height: 24px;
  color: black;
}
#overlay a {
  text-decoration: underline;
  color: yellow;
}
#overlay .action {
  margin-left: 10px;
  margin-right: 5px;
  color: #ff9900;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
#overlay .action.active {
  color: #ef6c00;
}
#overlay .scroll-list {
  overflow-y: scroll;
  height: 500px; // temporary! this will be changed when page loads or is resized
}
#overlay .indented {
  margin-left: 30px;
}

// ---------------------------------------------------------
// Misc common elements
// ---------------------------------------------------------
#change-page {
  margin-top: 2px;
  color: black;
}

#currently-watching {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
}

#view-direct {
  margin-top: 10px;
}

// ---------------------------------------------------------
// Speedrunslive
// ---------------------------------------------------------
#speedrunslive {
  margin-top: 7px;
}
#speedrunslive .sort-by {
  margin-top: 5px;
}
#speedrunslive-items {
  margin-top: 7px;
}
#speedrunslive-items ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#speedrunslive-items .channel {
  color: yellow;
  text-decoration: none;
}
#speedrunslive-items .game {
  font-size: 12px;
  font-weight: bold;
  color: gold;
}