

html, body {
  background-color: black;
}

#menu-button {
  position: absolute;
  top: 97px;
  left: 20px;
  width: 16px;
  height: 16px;
  z-index: 1000;
  opacity: 0.5;
  cursor: pointer;
}

#stream-container {
  position:fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#stream-iframe-div {
  width: 100%;
  height: 100%;
}

#overlay {
  display: none;
  position: absolute;
  top: 85px;
  left: 10px;
  width: 400px;
  height: 80%;
  overflow-y: auto;
  z-index: 500;
  opacity: 0.75;
  padding: 10px;
  color: yellow;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
#overlay .action {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #ff9900;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
#currently-watching {
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
}

#view-direct {
  margin-top: 10px;
}

#speedrunslive {
  margin-top: 7px;
}
#speedrunslive h4, #stream-items ul {
  margin: 2px 0;
  padding: 0;
  font-weight: bold;
}
#speedrunslive h4 {
  font-size: 14px;
}
#stream-items {
  margin-top: 7px;
}
#stream-items li {
  margin-left: 25px;
  list-style-type: none;
}
#stream-items .stream-item {
  color: yellow;
  text-decoration: none;
}
#overlay input {
  height: 24px;
  color: black;
}
