
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $laravel-border-color;
}

.panel-default {
  border-color: $laravel-border-color;
}

.panel-default > .panel-heading {
  border-color: $laravel-border-color;
  background-color: $panel-default-heading-bg;
}

/* --------------------------------------------------------------------- */
/* NProgress
/* --------------------------------------------------------------------- */
#nprogress .bar {
  background: #00aaff;
}
#nprogress .peg {
  box-shadow: 0 0 10px #00aaff, 0 0 5px #00aaff;
}
#nprogress .spinner {
  right: 10px;
}
#nprogress .spinner-icon {
  border-top-color: #00aaff;
  border-left-color: #00aaff;
}